.chat {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 520px;
}
.chat__header {
  position: fixed;
  align-items: center;
  box-shadow: 0 1px 0 0 #ccccb3;
  display: flex;
  flex-shrink: 0;
  height: 70px;
  padding: 0 20px 0 20px;
  z-index: 3;
}
.chat__headerLeft {
  padding-left: 40px;
  display: flex;
}
.chat__expandMoreIcon {
  top: 5px;
}
.chat__headerRight {
  padding-left: 850px;
}
.chat__messages {
  flex: 1 1 0;
  max-width: 1200px;
  margin: 50px -8px -16px -16px;
  padding: 30px 8px 8px 16px;
  min-width: 0;
}
.chat__viewAllMembers > span{
  padding-top: 5px;
}