.message {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}
.message > img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-bottom: 20px;
  padding-left: 25px;
}
.message__info {
  padding: 10px;
  display: block;
  box-sizing: border-box;
  /* border-bottom: 1px solid lightgray; */
}
.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 15px;
  padding-left: 5px;
}